/* Set editor dimensions */
#editor {
		font-size: 1.2em;
		height: 300px;
		width: 100%;
}

/* Stretch editor to fit inside its containing div */
.cm-editor {
		height: 100%;
		width: 100%;
}

button{
	margin: 2px;
}
